<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Formulario Node.js</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <nav>
        <a href="/form/">Formulario</a>
        <a href="/iredadmin/" target="_blank">Admin Correo</a>
        <a href="/mail/" target="_blank">Correo Web</a>
    </nav>

    <div class="container">
        <h1>Formulario de Contacto</h1>
        <form action="/guardar" method="POST">
            <label for="nombre">Nombre:</label>
            <input type="text" name="nombre" required>

            <label for="correo">Correo:</label>
            <input type="email" name="correo" required>

            <label for="mensaje">Mensaje:</label>
            <textarea name="mensaje" rows="5" required></textarea>

            <button type="submit">Enviar</button>
        </form>
    </div>
</body>
</html>
